TELEGRAM_BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789,987654321
CRON_SECRET=super_secret_cron_key
ENCRYPTION_KEY=32_byte_long_secret_key_for_aes256_cbc!

# FIREBASE UTAMA BOT (Tempat menyimpan konfigurasi bot & encrypted credentials)
BOT_FIREBASE_PROJECT_ID=bot-main-database
BOT_FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@bot-main-database.iam.gserviceaccount.com
BOT_FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
